/[Uu]nity-app/MirasiHarput/[Ll]ibrary/
/[Uu]nity-app/MirasiHarput/[Tt]emp/
/[Uu]nity-app/MirasiHarput/[Oo]bj/
/[Uu]nity-app/MirasiHarput/[Bb]uild/
/[Uu]nity-app/MirasiHarput/[Ll]ogs/
/[Uu]nity-app/MirasiHarput/[Uu]serSettings/